/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



/*Background styling */
body {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    width: 150vw;
    background-repeat: no-repeat;
}
#heading-container {
    display: inline-block;
}

#menu-container a {
    text-decoration: none;
    color: black;
    font-size: 200%;
    padding-right: 30px;
    
}

#page-container {
    background-color: rgba(225, 225, 225, 0.650);
    height: 100vh;
    width: 100vw;
    
    
}

h1 {
    font-size: 300%;
    padding-top: 5%;
    font-weight: 600;
}

#header {
    display: inline-block;
}

#menu-container {
    display: inline-block;
    float: right;
    left: 730px;
    top: 45px;
    position: relative;
}
/* Memory Game Title Styling */
.rainbow {
    background-image: linear-gradient(to left, rgb(255, 83, 255), rgb(132, 0, 226), rgb(37, 37, 247), rgb(8, 240, 8), yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 550px;
    margin-right: 520px;
    padding-top: 1em;
    padding-bottom: 1em;
}
/* Memory Card Game Styling */

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 360px;
    width: 490px;
    margin-left: 33em;
    
    
}

.grid img {
    border: black 1px solid;
    width: 120px;
    height: 120px;
    border-radius: 10%;

}

#game-warning {
    padding-top: 2em;
    margin-left: 650px;
    margin-right: 400px;
    background-image: linear-gradient(to left, rgb(255, 83, 255), rgb(132, 0, 226), rgb(37, 37, 247), rgb(8, 240, 8), yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Flag container styling*/

#flag-container {
    background-color: black;
    width: 100vw;
    height: 81vh;
}

#flag-container h2,p {
    color: chartreuse;
}

/* Flags styling*/

.tiles {
    width: 8vw;
    height: 6vw;
    background-color: chartreuse;
    display: inline-block;
    margin-left: 10vw;
    margin-top: 10vw;
}

/*Footer styling*/
footer a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    top: 1.5em;
    left: 45em;
}

  @media only screen and (max-width: 1280px) {
    .rainbow {
        font-size: xx-large;
        margin-left: 410px;
        margin-right: 400px;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .grid {
        margin-left: 25em;

    }

    footer a {
        left: 37em;
    }

    #menu-container {
        left: 450px;
       
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-size: unset;
    }
    footer a {
        position: relative;
        top: 1.5em;
        left: 22em;
    }
    #header {
        margin-bottom: 0.5em;
    }
    #heading-container h1 {
        font-size: 300%;
        
    }

    #menu-container ul li {
        font-size: 150%;
    }

    .grid {
        height: 20em;
        width: 16em;
        margin-left: 17em;
        padding-top: 8em;
    }
    .grid img {
        width: 5em;
        height: 5em;
    }
    #flag-container {
        width: 100vw;
        height: 84vh;
    }
    #menu-container {
        position: relative;
        left: 95px;
        float: none;
    }
    
  }
  @media only screen and (max-width: 480px) {
    #heading-container h1 {
        font-size: 200%;
    }

    #menu-container {
        display: inline-block;
        float: none;
        top: 0px;
        left: 0px;

    }

    #menu-container a {
        text-decoration: none;
        color: black;
        font-size: 120%;
    }
    
    .grid {
        height: 24em;
        width: 20em;
        margin-left: 4em;
        margin-top: -10em;
    }
    .grid img {
        width: 6em;
        height: 6em;
    }

    #flag-container {
        width: 100vw;
    }

    footer a {
        position: relative;
        top: 0.5em;
        left: 5em;
    }
  }

.wiggle {
    animation: wiggler 0.6s;
}

@keyframes wiggler {
    0%{
        transform: translate(0)
    }
    20%,
    40%,
    60%,
    80%{
        transform: translate(.8em)
    }
    10%,
    30%,
    50% {
        transform: translate(-.2em)
    }
    70%,
    100% {
        transform: translate(0)
    }