/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Styling for 4k screens */

/* Memory Game Title Styling */

#game-container {
    background-color: black;
    height: 100vh;
    padding-top: 5vh;
}

/* Header styling */

#heading {
    margin-bottom: 5vh;
}
.rainbow {
    background-image: linear-gradient(to left, rgb(255, 83, 255), rgb(132, 0, 226), rgb(37, 37, 247), rgb(8, 240, 8), yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    width: fit-content;
    font-size: 800%;
    font-size: 7vw;
}

/*Restart game icon */
#restart-game {
    background-color: black;
    background-image: linear-gradient(to left, rgb(255, 125, 255), rgb(188, 97, 253), rgb(86, 86, 255), rgb(85, 255, 85), yellow, orange, rgb(255, 68, 68));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#restart-container {
    width: fit-content;
    margin: 0 auto;
    font-size: 5vw;
    margin-bottom: 5vh;
}
/* Memory Card Game Styling */

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 28.6vw;
    margin: 0 auto;
    margin-bottom: 1vw;
}

.grid img {
    border: black 1px solid;
    width: 7vw;
    border-radius: 10%;
}

#game-warning {
    margin: 0 auto;
    background-image: linear-gradient(to left, rgb(255, 125, 255), rgb(188, 97, 253), rgb(86, 86, 255), rgb(85, 255, 85), yellow, orange, rgb(255, 68, 68));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2vw;
    text-align: center;
}

@media only screen and (max-width: 1333px) {
    .grid {
        width: 29.6vw;
    }
}

@media only screen and (max-width: 768px) {
    .grid {
        width: 33.8vw;
    }
    .grid img {
        width: 11vw;
    }
}
@media only screen and (max-width: 480px) {
    .rainbow {
        font-size: 9vw;
    }
    #restart-container {
        font-size: 7.5vw;
    }

    .grid {
        width: 59vw;
    }

    .grid img {
        width: 19vw;
    }

    #game-warning {
        font-size: 4vw;
    }
}

.wiggle {
    animation: wiggler 0.6s;
}

@keyframes wiggler {
    0% {
        transform: translate(0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate(0.8em);
    }
    10%,
    30%,
    50% {
        transform: translate(-0.2em);
    }
    70%,
    100% {
        transform: translate(0);
    }
}

#pulse {
    animation: pulse 1s linear infinite;
}
@keyframes pulse {
    0% {
        opacity: 1;
        background-image: none;
        background-color: red;
        color: black;
    }
    20% {
        opacity: 0;
        background-image: none;
        background-color: rgb(251, 255, 0);
        color: black;
    }
    50% {
        opacity: 1;
        background-image: none;
        background-color: rgb(9, 255, 0);
        color: black;
    }
    80% {
        opacity: 0;
        background-image: none;
        background-color: rgb(0, 38, 255);
        color: black;
    }
    100% {
        opacity: 1;
        background-image: none;
        background-color: rgb(234, 0, 255);
        color: black;
    }
}
