/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



/*Background styling */
body {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    width: 100vw;
    background-repeat: no-repeat;
}
#heading-container {
    display: inline-block;
}

#menu-container a {
    text-decoration: none;
    color: black;
    font-size: 200%;
    padding-right: 30px;
    
}

#page-container {
    background-color: rgba(225, 225, 225, 0.650);
    height: 100vh;
    width: 100vw;
    
    
}

h1 {
    font-size: 300%;
    font-weight: 600;
}

#header {
    display: inline-block;
}

#menu-container {
    display: inline-block;
    float: right;
    left: 730px;
    top: 30px;
    position: relative;
}
/* Memory Game Title Styling */
.rainbow {
    background-image: linear-gradient(to left, rgb(255, 83, 255), rgb(132, 0, 226), rgb(37, 37, 247), rgb(8, 240, 8), yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 550px;
    margin-right: 520px;
    padding-top: 1em;
    padding-bottom: 1em;
    
}
/* Memory Card Game Styling */

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 360px;
    width: 490px;
    margin-left: 33em;
    
    
}

.grid img {
    border: black 1px solid;
    width: 120px;
    height: 120px;
    border-radius: 10%;

}

#game-warning {
    margin: 1em 55em 0 22em;
    background-image: linear-gradient(to left, rgb(255, 125, 255), rgb(188, 97, 253), rgb(86, 86, 255), rgb(85, 255, 85), yellow, orange, rgb(255, 68, 68));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 150%;
    width: 490px;
    display: block;
    height: 25px;
    text-align: center;
}

#restart-game {
    background-color: black;
    background-image: linear-gradient(to left, rgb(255, 125, 255), rgb(188, 97, 253), rgb(86, 86, 255), rgb(85, 255, 85), yellow, orange, rgb(255, 68, 68));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#restart-container {
    width: fit-content;
    margin-left: 745px;
    font-size: 50px;
    position: relative;
    top: 10;
    bottom: 10px;
}
/*Flag container styling*/

#flag-container {
    background-color: black;
    width: 100vw;
    height: 85vh;
}

#flag-container h2,p {
    color: chartreuse;
}

/* Flags styling*/

.tiles {
    width: 8vw;
    height: 6vw;
    background-color: chartreuse;
    display: inline-block;
    margin-left: 10vw;
    margin-top: 10vw;
}

/*Footer styling*/
footer a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    top: 1.5em;
    left: 45em;
}

  @media only screen and (max-width: 1280px) {
    .rainbow {
        
        margin-left: 410px;
        margin-right: 400px;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .grid {
        margin-left: 25em;

    }

    footer a {
        left: 37em;
    }

    #menu-container {
        left: 450px;
       
    }

    #restart-container {
        margin-left: 615px;
    }

    #game-warning {
        margin: 1em 0 0 17em;
       
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-size: unset;
    }
    #header {
        margin-bottom: 0.5em;
        margin-left: 10.5em;
        padding-top: 1em;
    }
    #heading-container h1 {
        font-size: 300%;
        
    }

    #heading-container {
        display: inline;
    }

    .grid {
        height: 28em;
        width: 22em;
        margin-left: 13em;
        padding-top: 2em;
    }
    .grid img {
        width: 7em;
        height: 7em;
    }
    #flag-container {
        width: 100vw;
        height: 84vh;
    }
    

    .rainbow {
        
        margin-left: 160px;
        margin-right: 40px;
        padding-top: 1.5em;
        padding-bottom: 1em;
        
    }

    #restart-container {
        margin-left: 7.10em;
    }

    footer a {
        color: black;
        font-weight: bolder;
        text-decoration: none;
        position: relative;
        top: 1em;
        left: 19.5em;
    }

    #game-warning {
        margin: 1em 0 0 8em;;
        font-size: 100%;
       
    }

    #menu-container {
        display: inline-block;
        float: none;
        left: 4em;
        top: 0px;
        position: relative;
    }
    
  }
  @media only screen and (max-width: 480px) {
    #heading-container h1 {
        font-size: 8vw;
        text-align: center;
    }

    #header {
        margin: 0 7.5vw 0 7.5vw;
        width: 85vw;
    }

    #menu-container {
        display: inline-block;
        float: none;
        left: 15vw;
        top: 0px;
        position: relative;
    }

    #menu-container a {
        text-decoration: none;
        color: black;
        font-size: 120%;
    }

    .rainbow {
        margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 6vh;
    padding-bottom: 2vh;
    font-size: 8vw;
        
    }

    #restart-container {
        margin-left: 3.45em;
    }

    #restart-game {
        font-size: 100%;
    }

    
    .grid {
        height: 22em;
        width: 17.5em;
        margin-left: 4em;
        padding-top: 0.5em;
    }
    .grid img {
        width: 5.5em;
        height: 5.5em;
    }

    #flag-container {
        width: 100vw;
        height: 75vh;
    }

    #game-warning {
        margin: 1em 0 0 -4em;;
        font-size: 4vw;
        width: 100vw;
        height: 2vh;
       
    }

    footer a {
        position: relative;
        top: 1em;
        left: 9em;
    }
  }

.wiggle {
    animation: wiggler 0.6s;
}

@keyframes wiggler {
    0%{
        transform: translate(0)
    }
    20%,
    40%,
    60%,
    80%{
        transform: translate(.8em)
    }
    10%,
    30%,
    50% {
        transform: translate(-.2em)
    }
    70%,
    100% {
        transform: translate(0)
    }}

    #pulse {
        animation: pulse 1s linear infinite;
    }
    @keyframes pulse {
        0%{
            opacity: 1;
            background-image: none;
            background-color: red;
            color: black;
        }
        20% {
            opacity: 0.0;
            background-image: none;
            background-color: rgb(251, 255, 0);
            color: black;
        }
        50% {
            opacity: 1;
            background-image: none;
            background-color: rgb(9, 255, 0);
            color: black;
        }
        80% {
            opacity: 0;
            background-image: none;
            background-color: rgb(0, 38, 255);
            color: black;
        }
        100% {
            opacity: 1;
            background-image: none;
            background-color: rgb(234, 0, 255);
            color: black;
        }}